<nav
	class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-grey-1 divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/jbc.jpg" alt="JBC logo" class="br0 db mb0 w-100" />
	</a>
	<h1 class="f3 fw5 dn db-m">
		<strong>JONNY BOUTWOOD CASTING</strong>
	</h1>

	<!-- Primary Nav -->
	<div class="flex flex-column">
		<ul class="flex b grey-3 no-underline">
			<li><a href="/" class="f6 pa3 no-underline db">Home</a></li>
			<li><a href="/contact" class="f6 pa3 no-underline db">Contact</a></li>

		</ul>
		<ul class="flex justify-center">
			<!-- {{ partial "social-icon" (dict "link" "https://www.imdb.com/name/nm6696328/" "svg" "icons-imdb") }} -->
			{{ partial "social-icon" (dict "link" "https://www.twitter.com/JGBoutwood" "svg" "icons-twitter") }}
			{{ partial "social-icon" (dict "link" "https://www.instagram.com/jonnyboutwoodcasting" "svg"
			"icons-instagram") }}
		</ul>
	</div>

</nav>